@model IEnumerable<FichaAcademia.Dominio.Models.Aluno>

@{
    ViewData["Title"] = "Alunos cadastrados";
}

<h5>Alunos cadastrados</h5>

<p>
    <a asp-action="Create" class="btn-small green darken-2">Novo aluno</a>
</p>
<table class="table hover striped highlight">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objetivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrequenciaSemanal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Objetivo.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Professor.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FrequenciaSemanal)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlunoId" class="btn-small light-blue darken-2">Atualizar</a> &nbsp;
                    <a asp-action="Index" asp-controller="Fichas" asp-route-AlunoId="@item.AlunoId" class="btn-small amber darken-3">Fichas</a> &nbsp;
                    <a onclick="ExibirModal(@item.AlunoId, '@item.NomeCompleto')" class="btn-small red darken-2">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Confirmar exclusão</h4>
        <p>Deseja prosseguir com a exclusão de <b class="nome"></b> ?</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close btn green accent-4">Não</a>
        <a class="modal-close btn red accent-4 btnConfirmar">Sim</a>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $(".modal").modal();
        })

        function ExibirModal(id, nome) {
            $(".nome").html(nome);

            $("#modal1").modal("open");

            $(".btnConfirmar").on('click', function () {
                $.ajax({
                    method: "POST",
                    url: "/Alunos/Delete",
                    data: { id: id },
                    success: function () {
                        location.reload();
                    }
                });
            });
        }
    </script>
}
