@model IEnumerable<FichaAcademia.Dominio.Models.ListaExercicio>

<div>
    <h5>Exercicios</h5>
    <hr />
    <div>
        <table class="table hover striped highlight centered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Exercicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Frequencia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Repeticoes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Carga)
                    </th>                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Exercicio.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Frequencia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Repeticoes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Carga)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
